{% extends "layout.njk"%} {% block content %}


<div id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/58485129?s=460&u=ec8bbab233ad4c513d7601c6dda694ea5e415567&v=4" alt=" Vitor">
    <h2>
        Vitor Correia
    </h2>
    <h3>
        Junior Developer
    </h3>
    <p>
        Digital marketing has been going hand in hand with me for 8 years now!
        <br> I had the opportunity to create projects for brands like:
        <br>Coca-cola, Cigala, Olá, Marvel, Nestle, HP, PUMA, L'Oréal, Lidl among many others.
        <br> Since August 2019 I join the family programming with HTML, JavaScript, CSS.
    </p>
</div>

<div class="links">

    <a href="https://github.com/VitorCUk" Target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/vitor-correia-643aa378/" Target="_blank">Linkedin</a>

</div>

{% endblock %}