<!DOCTYPE html>

<html>

<head>
    <title>
        Vitor Correia
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<BODY>

    <header>
        <div class="menu">

            <a href="/">Sobre</a>
            <a href="/portfolio">Portfolio</a>

        </div>

    </header>

    {% block content %} {% endblock %}

</body>

</html>

